<% if (user) { %>
    <a class="nav-link" href="/profile">Profile</a>
    <a class="nav-link" href="/publish">Publish</a>
    <a class="nav-link" href="/books/my">My books</a>
    <a class="nav-link" href="/books/my/reading">Reading list</a>
    <a class="nav-link" href="/bookmarks/my">Bookmarks</a>


    <a class="nav-link" href="/logout">Logout</a>
<% } %>
<% if (!user) { %>
    <a class="nav-link" href="/register">Register</a>
    <a class="nav-link" href="/login">Login</a>
<% } %>