<% if (user) { %>
    <a class="nav-link" href="/profile">Profile</a>
    <a class="nav-link" href="/publish">Publish</a>
    <a class="nav-link" href="/books/my">My books</a>
    <a class="nav-link" href="/books/my/reading">Reading list</a>
    <a class="nav-link" href="/bookmarks/my">Bookmarks</a>
    <% if (user.role === 'moderator') { %>
        <a class="nav-link" href="/reports">View reports</a>
    <% } %>
    <a class="nav-link" href="/logout">Logout</a>
<% } %>
<% if (!user) { %>
    <a class="nav-link" href="/register">Register</a>
    <a class="nav-link" href="/login">Login</a>
<% } %>
<form class="form-inline ms-auto" action="/">
    <div class="input-group">
        <label hidden="hidden" for="search_term"></label>
        <input type="text" class="form-control" placeholder="Search for a book title" id="search_term" name="title"
               value="<% if (typeof searchTerm !== 'undefined' && searchTerm) { %><%= searchTerm %><% } %>">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" id="search_btn">Search</button>
            <a class="btn btn-link ml-2" href="/search">Advanced Search</a>
        </div>
    </div>
</form>