<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="nav nav-tabs sticky-top">
    <a class="nav-link" href="/">Home</a>
    <% if (!user) { %>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
    <% } %>
    <% if (user) { %>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/logout">Logout</a>
    <% } %>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Are you sure you want to delete this resource?
                </div>
                <div class="card-body">
                    <% if (problem) { %>
                        <p><%= problem %></p>
                    <% } %>
                    <% if (urlToGoBack) { %>
                        <a class="btn btn-primary" href="<%= urlToGoBack %>">Go Back</a>
                    <% } %>
                    <% if (urlToProceed) { %>
                        <a class="btn btn-primary" href="<%= urlToProceed %>">Confirm</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>